/* Empty App.css or just general styles */
.min-vh-100 {
    min-height: 100vh !important;
}

.min-vw-100 {
    min-width: 100vw !important;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}
